@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

html,
body,
#app {
    height: 100%;
}

body,
input,
button {
    font: 14px 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

body {
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(-45deg, #aaa 25%, #eee 100%);
    background-attachment: fixed;
}


/**
* YOUR CODE HERE
*/

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    flex-direction: column;
}


.logo {
    max-width: 50px;
    text-align: center;
    margin: 20px 0;
}

/* login */
.login {
    display: block;

}

.login form {
    width: 100%;
    background-color: #e5e4e5;
    padding: 15px;
    border-radius: 15px 0;
}

.login form input,
.login form button {
    width: 100%;
    background-color: #d1d1d1;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    color: #00071c;
}

.login form input+input,
.login form input+button {
    margin-top: 10px;

}

.login form input ::placeholder {
    color: #787b7e;
}

.login form button {
    margin-bottom: 10px;
    color: #fff;
    background-color: #008429;
}

.login form button:hover {
    background-color: #00a333;
    transition: linear 0.2s;
}

.login form button:disabled {
    cursor: no-drop;
    background-color: #d1d1d1;
}

/* users list */
ul.users-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 37%;
}

ul.users-list li.user {
    background-color: #fff;
    display: inline-flex;
    padding: 5px;
    margin: 0 10px 10px 0;
    border-radius: 5px;
    align-items: center;
    flex-grow: 1;
    color: #888888;
}

ul.users-list li.user img {
    width: 25px;
    border-radius: 50%;
    filter: grayscale(100%);
    margin-right: 10px;
}

ul.users-list li.user:hover img {
    filter: grayscale(0%);
    transform: scale(2);
    transition: linear 0.3s;

}

@media (max-width: 1200px) {
    ul.users-list {
        width: 60%;
    }
}
@media (max-width: 768px) {
    ul.users-list {
        width: 90%;
    }
}